Day 4/Hr Workflow
{
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Job description",
        "formDescription": "Please fill the below details",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Full name",
              "requiredField": true
            },
            {
              "fieldLabel": "Mobile number",
              "requiredField": true
            },
            {
              "fieldLabel": "Job applied for",
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "requiredField": true
            },
            {
              "fieldLabel": "Resume",
              "fieldType": "file",
              "acceptFileTypes": ".pdf",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ],
      "id": "c44d8477-592d-4874-abf4-896755392d0a",
      "name": "On form submission",
      "webhookId": "3db434a2-5e5f-4eb1-9597-0fd42bad4ce8"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "=Resume",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        220,
        0
      ],
      "id": "523e7ded-666a-4a32-9064-e96655edbde9",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "text": "={{ $json.text }}",
        "schemaType": "manual",
        "options": {
          "systemPromptTemplate": "You are an expert extraction algorithm. \nOnly extract relevant information from the text. \nIf you do not know the value of an attribute asked to extract, you may omit the attribute's value. \nphone number should not contain '+'"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.1,
      "position": [
        440,
        0
      ],
      "id": "2947ca7b-0dfe-45cd-8d57-0fd8a62a2da0",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1060,
        500
      ],
      "id": "3faf8090-13b8-4fd9-8afc-3cb0365affe7",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "iXxVAxzIedWzUr4X",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Individual Summary Prompt: \nWrite a concise summary of the following: \nEducational qualification: {{ $json.output['educational qualification'] }} \nJob History: {{ $json.output['job history'] }} \nSkills: {{ $json.output.skills }} \nUse 100 words or less. Be concise and conversational. \nFinal Prompt to Combine: \nWrite a concise summary of the following: \nCity: [No input connected] \nBirthdate: [No input connected] \nEducational qualification: [No input connected] \nJob History: [No input connected] \nSkills: [No input connected] \nUse 100 words or less. Be concise and conversational.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        800,
        0
      ],
      "id": "d9be3324-51e5-43e3-a024-c78758b3355c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cf390c36-54a0-428a-b6a9-d1a711d3dc3c",
              "name": "Job description",
              "value": "We are a web agency seeking a full stack web developer proficient in python, and HTML, CSS, mongo db. He has experience in github and is apable of working hard",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1160,
        0
      ],
      "id": "14e80d5c-c5c6-49e6-8fd1-51f04ca533bc",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert HR professional and you need to assess whether the candidate matches the \nprofile sought by the company. You must give a score from 1 to 10, where 1 means the \ncandidate is not aligned with the requirements, and 10 means the candidate is ideal because \nthey fully match the desired profile. Additionally, in the \"consideration\" field, you must explain the \nreason behind the score you assigned. \nProfile Desired:{{ $json.Job_Description }} \nCandidate:{{ $('AI Agent').item.json.output }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1380,
        0
      ],
      "id": "cf2123d2-4cf3-4929-bf14-562c36bfd37b",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a professional HR assistant. Based on our automated resume screening process, \ndecide which email content to generate: \nIf the candidate's screening score {{ $json.output }} is greater than 5, write a brief and \nprofessional congratulatory email to inform them that their resume has been shortlisted for the \nfirst round. Address the candidate by name:  \nOtherwise, politely inform them that they have not been selected for the current opportunity. \nDo not include any links or subjects. \nOnly return the email content body, concise and professional.  \nmake it more professional , dont mention the company name or best regards \ndraft a email your a professional email writer , just return only the content to send in the email \nwithout the subject ",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1740,
        0
      ],
      "id": "5e49a6de-4af0-4dd3-8543-a7a57dc364b7",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json.Email }}",
        "subject": "Job application update",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2100,
        0
      ],
      "id": "8eb71682-d17d-45a2-9459-2c4c980a3aab",
      "name": "Gmail",
      "webhookId": "37ea4f1b-06d6-492d-bbef-089996440f85",
      "credentials": {
        "gmailOAuth2": {
          "id": "5SLWbv0ZioHS7TaN",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7322161d-9015-4942-8505-af040cec1dae",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b41f63ed336034d20fbc8067c8776faa129b3197e3c79679d419d33518147a56"
  },
  "id": "3kzfXdfTfl3d5am8",
  "tags": []
}
